USE [Test]
GO
/****** Object:  Table [dbo].[invheader]    Script Date: 05/14/2013 18:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invheader](
	[invid] [int] NOT NULL,
	[invdate] [date] NOT NULL,
	[client_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[tax] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[note] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[invid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[invheader] ([invid], [invdate], [client_id], [amount], [tax], [total], [note]) VALUES (1, CAST(0x15370B00 AS Date), 2045, CAST(645503.98 AS Decimal(10, 2)), CAST(4345.34 AS Decimal(10, 2)), CAST(649849.32 AS Decimal(10, 2)), N'efsgsecord 1                                                                                        ')
INSERT [dbo].[invheader] ([invid], [invdate], [client_id], [amount], [tax], [total], [note]) VALUES (2, CAST(0x15370B00 AS Date), 2046, CAST(104.98 AS Decimal(10, 2)), CAST(46.34 AS Decimal(10, 2)), CAST(151.32 AS Decimal(10, 2)), N'This is record 2                                                                                    ')
INSERT [dbo].[invheader] ([invid], [invdate], [client_id], [amount], [tax], [total], [note]) VALUES (3, CAST(0x15370B00 AS Date), 2047, CAST(105.98 AS Decimal(10, 2)), CAST(47.34 AS Decimal(10, 2)), CAST(153.32 AS Decimal(10, 2)), N'This is record 3                                                                                    ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Default [DF__invheader__amoun__014935CB]    Script Date: 05/14/2013 18:00:31 ******/
ALTER TABLE [dbo].[invheader] ADD  DEFAULT ('0.00') FOR [amount]
GO
/****** Object:  Default [DF__invheader__tax__023D5A04]    Script Date: 05/14/2013 18:00:31 ******/
ALTER TABLE [dbo].[invheader] ADD  DEFAULT ('0.00') FOR [tax]
GO
/****** Object:  Default [DF__invheader__total__03317E3D]    Script Date: 05/14/2013 18:00:31 ******/
ALTER TABLE [dbo].[invheader] ADD  DEFAULT ('0.00') FOR [total]
GO
/****** Object:  Default [DF__invheader__note__0425A276]    Script Date: 05/14/2013 18:00:31 ******/
ALTER TABLE [dbo].[invheader] ADD  DEFAULT (NULL) FOR [note]
GO
